{% extends "templates/base.html" %}
{% block content %}
<h3>Biography</h3>
	
	<p>I am from Moorhead, MN, which is rougly four hours north of the Minneapolis/St.Paul metro area.</p>

<div class="hobbies">
<h3>Hobbies</h3>

	<p>I have a wide variety of hobbies, inlcuding reading and spending time with friends and family. I am also a die-hard Minnesota Twins baseball fan and summers find me at the ballpark. I am also a classical musician, having played the cello for 14 years.</p></div>

	<div class="Twins">
	<img src="static/twins.jpg" alt="Park"></div>

<h3>Areas of Interests</h3>
	<p>My areas of interest stem from my undergraduate degrees in history and political science. I'm a politcs-junkie and am especially passionate about women's rights.</p>
{%endblock%}


