{% extends "templates/base.html" %}
{% block content %}


	
	

	<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>I am a first-year Master's student at the University of Michigan School of Information, specializing in Archives and Records Management. I have experience in historical research, working in an archive, working in public affairs, and museum exhibits. Currently, I am a manuscripts division studnet worker at the William L. Clements Library at the University of Michigan.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><!-- THIS IS THE BUTTON WORD--></a></p>
  <img src="static/library.jpg" id="read" alt="Library">
</div>
	
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/slide1.png" alt="First Slide">
        </div>
        <div class="item">
            <img src="images/slide2.png" alt="Second Slide">
        </div>
        <div class="item">
            <img src="images/slide3.png" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


	<!-- <div class="personal">
	<img src="static/retry.jpg" alt="Tessa" style="max-width:100%;height:aut">
	</div> -->


{%endblock%}


	

