{% extends "templates/base.html" %}
{% block content %}


	
	

	<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>I am a first-year Master's student at the University of Michigan School of Information, specializing in Archives and Records Management. I have experience in historical research, working in archives, working in public affairs, and museum exhibits. Currently, I am a manuscripts division student worker at the William L. Clements Library at the University of Michigan. My goal is to work in a governmental agency or some sort of political records position, as these are areas I'm passionate about.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact</a></p>
  <img src="static/library.jpg" id="read" alt="Library">
</div>
	



	<!-- <div class="personal">
	<img src="static/retry.jpg" alt="Tessa" style="max-width:100%;height:aut">
	</div> -->


{%endblock%}


	

