{% extends "templates/base.html" %}
{% block content %}

<body id="ph">

	<div class="Description">
	<h4>What I value most in my life are my relationships with my friends and family. These images are a sample of the people who are a major part of my life.</h4></div>

<div class="container">
	<div class="paige">
		<h2>My little sister</h2></div>
		<img src="static/paige.jpg"
		class="img-responsive img-thumbnail">
</div>

<!-- <div class="container">
	<div class="cord">
		<h2>xmas</h2></div>
		<img src="static/christmas.jpg"
		class="img-responsive img-thumbnail">
</div> -->

<div class="container">
	<div class="cousins">
		<h2>My cousins</h2></div>
		<img src="static/cousins.jpg"
		class="img-responsive img-thumbnail">
</div>

<div class="container">
	<div class="friends">
		<h2>high school</h2></div>
		<img src="static/friends.jpg"
		class="img-responsive img-thumbnail">
</div>

<div class="container">
	<div class="sam">
		<h2>My best friend</h2></div>
		<img src="static/sam.jpg"
		class="img-responsive img-thumbnail">
</div>


<div class="container">
	<div class="mama">
		<h2>mom</h2></div>
		<img src="static/mom.jpg"
		class="img-responsive img-thumbnail">
</div>

<div class="container">
	<div class="dad">
		<h2>dad</h2></div>
		<img src="static/dad.jpg"
		class="img-responsive img-thumbnail">
</div>





<div class="container">
	<div class="wakefield">
		<h2>wakefields</h2></div>
		<img src="static/wakefield.jpg"
		class="img-responsive img-thumbnail">
</div>



<!-- 
	<div class="container">
		<img src="static/paige.jpg"
		class="img-responsive img-thumbnail"> -->


		<!-- <img src="static/cousins.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/sam.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/mom.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/dad.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/friends.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/christmas.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/cousins.jpg"
		class="img-responsive img-thumbnail"> -->

		<!-- <img src="static/wakefield.jpg"
		class="img-responsive img-thumbnail"> -->

	<!-- </div> -->






	<!-- <div id="container">
		<div class="row">
		<img src="static/paige.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/cousins.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/sam.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/mom.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/dad.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/friends.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/christmas.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/cousins.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

		<img src="static/wakefield.jpg"
		class="col-sm-6 col-md-4 col-lg-2 img-thumbnail">

	</div> -->









{%endblock%}