{% extends "templates/base.html" %}
{% block content %}

<body id="ph">

	<div class="Description">
	<h3><b>What I value most in my life are my relationships with my friends and family. These images are a sample of some of the people who are a major part of my life.</b></h3></div>


<div class="pictures">



<!-- The big difference I made with this code was deciding to not use the grid system. Instead, I chose to define a container class, which, for me, was easier to understand and work with -->
 
 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/paige.jpg" alt="Paige">
        <div class="overlay">
           <h2>Me and my little sister, Paige!</h2>
        </div>
    </div>
</div>


 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/cousins.jpg" alt="Cousins">
        <div class="overlay">
           <h2>My cousins, Grandma, and I on the 4th of July</h2>
        </div>
    </div>
</div>


 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/friends.jpg" alt="High School">
        <div class="overlay">
           <h2>I've been friends with these girls for over 10 years!</h2>
        </div>
    </div>
</div>

 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/sam.jpg" alt="Sam">
        <div class="overlay">
           <h2>Me and my best friend, Sam!</h2>
        </div>
    </div>
</div>

 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/mom.jpg" alt="Mama">
        <div class="overlay">
           <h2>My mama :) </h2>
        </div>
    </div>
</div>

 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/dad.jpg" alt="Dad">
        <div class="overlay">
           <h2>My dad and I at a Washington Nationals game, when I toured George Washington University</h2>
        </div>
    </div>
</div>



 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/wakefield.jpg" alt="Wakefields">
        <div class="overlay">
           <h2>A few Wakefield cousins, then and now!</h2>
        </div>
    </div>
</div>

 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/sisters.jpg" alt="Moving">
        <div class="overlay">
           <h2>Me and Paige when I moved to Ann Arbor</h2>
        </div>
    </div>
</div>


 <div class="container">
    <div class="hovereffect">
        <img class="img-responsive" src="static/elise.JPG" alt="Elise">
        <div class="overlay">
           <h2>Me and my buddy Elise!!</h2>
        </div>
    </div>
</div>

<!-- </body> -->











{%endblock%}