{% extends "templates/base.html" %}
{% block content %}


<body id="proj">


<div class="intro1">	
	<p>Throughout my academic career, I have worked on a variety of projects, including ones that are writing-based, archives workflows, and archival access systems. Both my time at my undergraduated instutution, Concordia College, and at UMSI have provided valuable opportunities.</p>
</div>

	

<div class="intro">
	<p>These are three samples of past projects related to my experience in the archival field!</p>
</div>

<div class="container-fluid">
<div class="row">
  
  <div class="col-md-6"><h3>Isaac Mark Abbott Civil War Letters (2013-2014)</h3><p>As a student and during my gap year, I worked at the Concordia College Archives, where I developed my interest in the archival profession. While there, I worked on a project involvling the Isaac Mark Abbott Civil War Letters Collection. I uploaded the digitized images and transcripts, as well as entered the necessary metadata for each letter. Additionally, I worked with my supervisor to begin developing a website to host the letters and accompanying blog posts, for which I also spent time researching and writing content. This image is of a poster I presented at my college's annual student scholarship celebration. It offers a look at the workflow of the project as a whole, including ultimate goals for the project.</p></div>
		
	<div class="col-md-5 pull-right">	
		<img src="static/abbott.png" alt="Abbott"></div>
	</div>
	<div class="spacing"></div>
</div>


  
  
<div class="container-fluid">
  <div class="col-md-6"><h3>Department of Commerce Research Library: Herbert Hoover ASB Project(February 29-March 4, 2016)</h3><p>During spring break, I spent the week in Washington, D.C., volunteering at the Department of Commerce's Research Library. I provided foundational research and a bibliography for an eventual exhibit about Herbert Hoover's time as Secretary of Commerce. Highlights of the research include Hoover's involvement in boosting commercial aviation, expanding the power of the Department of Commerce, and his early work to combat unemployment in the early 1920s.</p>
  	<p><a href="https://seelio.com/w/26g2/commerce-research-library-department-of-commerce?student=twakefield">Click on this Seelio Exhibit for further information</a></p></div>
	<div class="col-md-5 pull-right">
		<img src="static/hoover.png" alt="Hoover"></div>
	</div>
	<div class="spacing"></div>
</div>

  


<div class="container-fluid">	
  <div class="col-md-6"><h3>EAD Assignment (SI629 Winter 2016)</h3>
		<p>As part of my course requirements in obtaining my degree in Archives and Records Management, I am taking a course called Access Systems, which focuses on different systems used in the archival profession. One tool/standard is called EAD, which is used to create finding aids and is XML based. The following is a screenshot of a recent assignment I completed which required the creation of an EAD using both ArchivesSpace and an XML editor for manual work.</p></div>

		<div class="col-md-5 pull-right">
		<img src="static/ead.png" alt="EAD"></div></div>
	</div>
	<div class="spacing"></div>
</div>




<!-- 	<div class="row">
		<div class="col-md-4"><h3>Isaac Mark Abbott Civil War Letters (2013-2014)</h3><p>As a student and during my gap year, I worked at the Concordia College Archives, where I developed my interest in the archival profession. While there, I worked on a project involvling the Isaac Mark Abbott Civil War Letters Collection. I uploaded the digitized images and transcripts, as well as entered the necessary metadata for each letter. Additionally, I worked with my supervisor to begin developing a website to host the letters and accompanying blog. This image is of a poster I presented at my college's annual student scholarship celebration. It offers a look at the workflow of the project as a whole.</p></div>
		<div class="IMA">	
		<img src="static/abbott.png" alt="Abbott"></div> -->
		<!-- <div class="col-md-4"></div> -->
	
		<!-- <div class="col-md-4"><h3>Herbert Hoover ASB Project (need title and seelio link)(February 29-March 4, 2016)</h3><p>During spring break, I spent the week in Washington, D.C., volunteering at the Department of Commerce's Research Library. I provided foundational research and a bibliography for an eventual exhibit about Herbert Hoover's time as Secretary of Commerce. This is a sample of that research.</p></div>
	<div class="hoover">
		<img src="static/hoover.png" alt="Hoover"></div> -->


	<!-- <div class="col-md-4"><h3>EAD Assignment (SI629 Winter 2016)</h3>
		<p>As part of my course requirements in obtaining my degree in Archives and Records Management, I am taking a course called Access Systems, which focuses on different systems used in the archival profession. One tool/standard is called EAD, which is used to create finding aids and is XML based. The following is a screenshot of a recent assignment I completed which required me to create an EAD using both ArchivesSpace and an XML editor for manual work.</p></div>

		<div class="EAD">
		<img src="static/ead.png" alt="EAD"></div>

 -->
	<!-- </div> -->



<!-- <div class="project2">
		<h3>Herbert Hoover ASB Project (look up exact title and link to seelio) (February 29-March 4, 2016)</h3> -->
		<!-- <p>During spring break, I spent the week in Washington, D.C., volunteering at the Department of Commerce's Research Library. I provided foundational research and a bibliography for an eventual exhibit about Herbert Hoover's time as Secretary of Commerce. This is a sample of that research.</p></div>
	<div class="hoover">
		<img src="static/hoover.png" alt="Hoover"></div>




	</div> -->

	
	<!-- <div class="container"> -->
	<!-- <div class="col-md-8"></div>
	<div class="project1"> -->
		<!-- <h3>Isaac Mark Abbott Civil War Letters (2013-2014)</h3>
		<p>As a student and during my gap year, I worked at the Concordia College Archives, where I developed my interest in the archival profession. While there, I worked on a project involvling the Isaac Mark Abbott Civil War Letters Collection. I uploaded the digitized images and transcripts, as well as entered the necessary metadata for each letter. Additionally, I worked with my supervisor to begin developing a website to host the letters and accompanying blog. This image is of a poster I presented at my college's annual student scholarship celebration. It offers a look at the workflow of the project as a whole.</p></div> -->

	<!-- 	<div class="IMA">	
		<img src="static/abbott.png" alt="Abbott"></div>
</div> -->
<!-- </div> -->

<!-- 	<div class="container">
	<div class="project2">
		<h3>Herbert Hoover ASB Project (look up exact title and link to seelio) (February 29-March 4, 2016)</h3>
		<p>During spring break, I spent the week in Washington, D.C., volunteering at the Department of Commerce's Research Library. I provided foundational research and a bibliography for an eventual exhibit about Herbert Hoover's time as Secretary of Commerce. This is a sample of that research.</p></div>
	<div class="hoover">
		 --><!-- <img src="static/hoover.png" alt="Hoover"></div>
</div> -->

<!-- <div class="container">
	<div class="project3">
		<h3>EAD Assignment (SI629 Winter 2016)</h3>
		<p>As part of my course requirements in obtaining my degree in Archives and Records Management, I am taking a course called Access Systems, which focuses on different systems used in the archival profession. One tool/standard is called EAD, which is used to create finding aids and is XML based. The following is a screenshot of a recent assignment I completed which required me to create an EAD using both ArchivesSpace and an XML editor for manual work.</p></div>

		<div class="EAD">
		<img src="static/ead.png" alt="EAD"></div>
</div> -->

	
	

{%endblock%}