{% extends "templates/base.html" %}
{% block content %}

<!-- <body id="r">
 -->
<!-- <div class="Tessa">
<img src="static/personal.jpg">
</div> -->


	
	<div class="resume">

<!-- <h2>Resume</h2> -->
    <p>This is a sample of content contained on my resume-- a brief overview of experiences and skills.</p>
</div>

<div class="container-fluid">
<div class="row">
  
  <div class="col-md-7">
    <h3>Education</h3>
    <ul><li><b>University of Michigan School of Information</b><p>Expected graduation date is April 2017, with a specialization in Archives and Records Managment.</p></li></ul></div>

  <div class="col-md-7">
    <ul><li><b>Concordia College</b><p>Graduated in May 2014, with degrees in History and Political Science. As a student at Concordia, I received a well-rounded, liberal arts education. I also was able to work a variety of on-campus jobs, developing new skills, and also afforded opportunities to hone my writing and presentation skills.</p></li></ul></div>
        
    <div class="col-md-4 pull-right">   
        <img src="static/thesis.jpg" alt="Abbott">
        <img src="static/asb.jpg" alt="Hoover"></div>
    <div class="spacing"></div>
    <div class="spacing"></div>
   </div>
 </div>


        

<div class="container-fluid">
<div class="row">
  
  <div class="col-md-7"><h3>Experience</h3>


    <div class="Experience">
      <div class="clements">
         <ul><li><b>William L. Clements Library (September 2015-present)</b><p>Process collections in the manuscript division; data entry</p></li></ul></div>
     
       <div class="HBA">
          <ul><li><b>Home Builders Association of Fargo-Moorhead (February 2015-May 2015)</b> <p>Track North Dakota and Minnesota Legislature bills relating to the homebuilding industry; attend Public Issues Committee meetings and draft agendas/minutes; draft letters of support regarding housing industry bills for the HBA Executive Vice President; assist with event planning for public affairs meetings; administrative duties; assist with Association’s Home and Garden Show and Parade of Homes</p></li></ul></div>


      <div class="CCA">
       <ul><li><b>Concordia College Archives (September 2013-April 2015)</b><p>Cuadra Star database work; write college alumni news articles;  create lesson plans for Civil War letter collection; pre-process/process donations; ContentDM database work; assist with management of student workers; scanning of photographs; handling of older documents and photos; assist college archivist in various projects</p></li></ul></div>


      <div class="bonanza"> 
       <ul><li><b>Cass County Historical Society (July 2014-January 2015)</b>  <p>Created exhibits; sort and catalogue artifacts; make cold-calls to businesses; clean and reorganize storage spaces; store artifacts/documents/photographs in areas conducive to preservation (including acid-free folders and boxes).</p></li></ul></div>

      <div class="history"> 
       <ul><li><b>Concordia College History Department (September 2013-May 2014)</b><p>Data entry for professors’ scholarly research; initial research for faculty members’ articles/personal research; assistance with various projects, such as promotion of faculty and student lectures</p></li></ul></div>

      <div class="capitol"> 
       <ul><li><b>United States Capitol Historical Society (January 2013-April 2013)</b> <p>Research daily facts for the years 1815 and 1816 annual societal calendar; research experience at Library of Congress; assisted with society’s annual Youth Forum at the U.S. Capitol; phone calling for Asian Pacific American History Month: called newspapers, website, radio stations and TV stations to ask to run APA promotional spots</p></li></ul></div>



  <div class="Tools">
      <h3>Tools</h3>
      <ul class="Skills">
          <li>Familiarity with EAD and XML</li>
          <li>Familiarity with MARC records</li>
          <li>Introductory skills for HTML/CSS</li>
      </ul>

        </div><p></p></div>
  </div>
 </div>
</div>
  		


{%endblock%}


