{% extends "templates/base.html" %}
{% block content %}

<body id="r">
    <img="static/texture.jpg">
<h2>Resume</h2>	
	<div class="resume">

<h3><b>Education</b></h3>
<p>University of Michigan School of Information</p>
<p>Concordia College</p>

   <!--  <div class="grad">
        <p>Excpected graduation date: April 2017</p>
        <p>May 2014</p>
    </div> -->


<h3>Experience</h3>
<ul class="clements">
     <li><b>William L. Clements Library</b></li>
        <ul><li>Process collections in the manuscript division; data entry</li></ul>
</ul>
     
     <ul class="HBA">
     <li><b>Home Builders Association of Fargo-Moorhead</b></li>
        <ul><li>Track North Dakota and Minnesota Legislature bills relating to the homebuilding industry; attend Public Issues Committee meetings and draft agendas/minutes; draft letters of support regarding housing industry bills for the HBA Executive Vice President; assist with event planning for public affairs meetings; administrative duties; assist with Association’s Home and Garden Show and Parade of Homes</li></ul>
    </ul>


    <ul class="CCA">
     <li><b>Concordia College Archives</b></li>
        <ul><li>Cuadra Star database work; write college alumni news articles;  create lesson plans for Civil War letter collection; pre-process/process donations; ContentDM database work; assist with management of student workers; scanning of photographs; handling of older documents and photos; assist college archivist in various projects</li></ul>
    </ul>


    <ul class="bonanza"> 
     <li><b>Cass County Historical Society</b></li>
        <ul><li>Created exhibits; sort and catalogue artifacts; make cold-calls to businesses; clean and reorganize storage spaces; store artifacts/documents/photographs in areas conducive to preservation (including acid-free folders and boxes). </li></ul>
    </ul>

    <ul class="history"> 
     <li><b>Concordia College History Department</b></li>
        <ul><li>Data entry for professors’ scholarly research; initial research for faculty members’ articles/personal research; assistance with various projects, such as promotion of faculty and student lectures</li></ul>
    </ul>

    <ul class="capitol"> 
     <li><b>United States Capitol Historical Society</b></li>
        <ul><li>Research daily facts for the years 1815 and 1816 annual societal calendar; research experience at Library of Congress; assisted with society’s annual Youth Forum at the U.S. Capitol; phone calling for Asian Pacific American History Month: called newspapers, website, radio stations and TV stations to ask to run APA promotional spots
</li></ul>
</ul>

</ul>
</div>
		


<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Row</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Carter</td>
            <td>johncarter@mail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Peter</td>
            <td>Parker</td>
            <td>peterparker@mail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td>Rambo</td>
            <td>johnrambo@mail.com</td>
        </tr>
    </tbody>
</table> -->

{%endblock%}


